body {
    background-image: url("../images/prism.png");
    margin: 0 15% 0 15%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    width: 250px;
    height: 200px;
    margin: 10px 20px 20px 20px;
    border: 1px solid #666666;
}

.overlay {
    position: absolute;
    bottom: 20px;
    width: 250px;
    background: #4AAAA5;
    height: 30px;
    text-align: center;
    margin: 20px;
    color: #FFFFFF;
    border: 1px solid #666666;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

h1,
p {
    margin: auto;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #DD4A4A;
    border-bottom: 2px solid #DDDDDD;
    padding-bottom: 15px;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #FFFFFF;
    border-bottom: 2px solid #cccccc;
    height: 55px;
    margin: 0;
    padding: 0 15% 0 15%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.name {
    float: left;
    background: #4AAAA5;
    padding: 11px 18px 11px 18px;
    color: white;
    font-size: 28px;
}

nav {
    float: right;
    margin: 15px;
}

.links {
    border-right: 1px solid #F4F4F4;
    padding: 0 6px 0 3px;
    font-size: 17px;
}

.contact {
    padding: 0 3px 0 3px;
    font-size: 17px;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 15px 20px 15px;
    background: white;
    border: 2px solid #DDDDDD;
    /* height: 550px; */
    line-height: 2em;
}

section::after {
    content: "";
    clear: both;
    display: table;
}

.bioPic {
    float: left;
    margin: 0px 15px 10px 0;
    width: 178px;
    height: 150px;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #DD4A4A;
}

a:hover {
    color: #DD4A4A;
}

.portfolio {
    float: left;
    position: relative;
}

input {
    width: 100%;
    margin: 3px 100px 3px 0px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 12px;
}

textarea {
    height: 250px;
    width: 100%;
    margin: 3px 100px 3px 0px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 12px;
}

.submit {
    width: 90px;
    clear: both;
    background-color: #4AAAA5;
    font-size: 16px;
}

@media screen and (max-width: 980px) {
    body {
        margin: 0 30% 0 5%;

    }

    header {
        padding: 0 30% 0 5%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0 5% 0 5%;
    }

    header {
        padding: 0 5% 0 5%;
    }
}

@media only screen and (max-width: 640px) {
    body {
        margin: 0;
    }

    section {
        margin: 0 5% 0 5%;
        clear: both;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    header {
        padding: 0;
        text-align: center;
        border: none;
        position: static;
    }

    .name {
        width: 100%;
        margin: 0;
        border: none;
    }

    .navLinks {
        width: 100%;
        background: white;
        margin: 0;
        padding: 2%;
        border-bottom: 2px solid #cccccc;
    }

    img {
        width: 100%;
        margin: 10px 10px 10px 40px;
    }

    .overlay {
        width: 100%;
        margin: 10px 10px 10px 40px;
    }

    footer {
        position: static;
    }

}